@model IEnumerable<QuarterlyReview.Models.Questions>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RtId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QtOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QtQuestion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Answer)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Qt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtTypeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.R)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RtId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qt.QType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtTypeNavigation.QuestionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.R.DivId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
