@model IEnumerable<QuarterlyReview.Models.Employees>

@using Microsoft.AspNetCore.Identity
@using QuarterlyReview.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Reviews Page";
    ViewData["Today"] = DateTime.Now.ToString("MMM dd, yyyy");
    List<DisplayReviewSummary> myReviews = (List<DisplayReviewSummary>)ViewData["MyReviews"];
    string employeeDisplay = "block";
}

@if (SignInManager.IsSignedIn(User))
{
    @if (Model.Count() > 0)
    {
        employeeDisplay = "none";
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group" style="margin-top: 15px">
                    <label class="radio-inline"><input type="radio" onclick="doit(0)" checked name="workflow" />My Employees</label>
                    <label class="radio-inline"><input type="radio" onclick="doit(1)" name="workflow" />My Conversations</label>
                </div>
            </div>
        </div>
        <div id="employees">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Supervised Employees - Conversations Status</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th width="25%">Time Since Last Conversation</th>
                                <th width="25%">Last Conversation Completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                string lastRev = item.LastReviewed == null ? "" : ((DateTime)item.LastReviewed).ToString("M/dd/yyyy");
                                string due = item.ReviewBy == null ? "" : ((DateTime)item.ReviewBy).ToString("M/dd/yyyy");
                                <tr>
                                    <td>
                                        <a asp-area="" asp-controller="Reviews" asp-action="Index" asp-route-emp="@item.EmpId">@item.Employee</a>
                                    </td>
                                    <td>
                                        @if (item.Position != null)
                                        {
                                            string rSince = "Never Reviewed";
                                            string cStyle = (item.LastReviewed == null) ? "color: red" : "color: #337ab7";
                                            int days = 10000;
                                            if (item.LastReviewed != null)
                                            {
                                                days = DateTime.Now.Subtract((DateTime)item.LastReviewed).Days;
                                                if (days >= 90) { cStyle = "color: red"; }
                                                else if (days > 83) { cStyle = "color: orange"; }
                                                rSince = String.Format("{0} days", days);
                                            }


                                            <a asp-area="" asp-controller="Reviews" asp-action="Review" asp-route-emp="@item.EmpId"
                                               style="@cStyle")>
                                                @rSince
                                                @if (days >= 90)
                                                {
                                                    <span class="glyphicon glyphicon-exclamation-sign" title="Review Overdue!"></span>
                                                }
                                                else if (days > 83)
                                                {
                                                    <span class="glyphicon glyphicon-hourglass" title="Review due in less than a week!"></span>

                                                }
                                            </a>
                                        }
                                        else
                                        {
                                                <span> N/A </span>
                                        }
                                    </td>
                                    <td>@lastRev</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

    Employees employee = (Employees)ViewData["Employee"];
    Boolean hasActivePosition = (employee.Position != null);

    if (Model.Count() <= 0)
    {
        employeeDisplay = "block";
    }
    <div id="reviews" style="display:@employeeDisplay">
        <div class="row">
            <div class="col-sm-12">
                <h2>Conversations with @employee.Employee</h2>
                <div class="pull-right"><b>Current Supervisor: @ViewData["Supervisor"]</b></div>
            </div>
        </div>

        @if (employee.Position != null)
        {
            <div class="row">
                <div class="col-sm-12">
                    <h3>Current Conversation</h3>
                    @if (myReviews.Where(o => o.status != "Closed").Count() == 0)
                    {
                        <div class="alert alert-warning">
                            No current reviews found. &nbsp;&nbsp;
                            @if ((string) ViewData["Role"] == "Supervisor")
                            {
                                <a class="btn btn-primary" asp-controller="Reviews" asp-action="Review" asp-route-emp="@employee.EmpId">
                                    Create
                                </a>
                            }
                        </div>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="35%">Period</th>
                                    <th>Status</th>
                                    <th width="20%">Last Change</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in myReviews)
                                {
                                    if (item.status != "Closed")
                                    {
                                        string reviewPeriod = String.Format("{0} - {1}",
                                            item.periodStart.ToString("MM/dd/yyyy"),
                                            item.periodEnd.ToString("MM/dd/yyyy"));
                                        string statusMsg = "waiting on supervisor.";
                                        switch (item.status)
                                        {
                                            case "Ready":
                                                statusMsg = "ready for employee review.";
                                                break;
                                            case "Acknowledged":
                                                statusMsg = "waiting on supervisor";
                                                break;
                                            default:
                                                break;
                                        }

                                        <tr>
                                            <td>
                                                <a asp-area="" asp-controller="Reviews" asp-action="Review" asp-route-id="@item.reviewID" asp-route-emp="@item.employeeID">@reviewPeriod</a>
                                            </td>
                                            <td>@item.status: @statusMsg</td>
                                            <td>@item.statusDate.ToString("MM/dd/yyyy")</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>


                    }
                </div>
            </div>
        }
        <div class="row">
            <div class="col-sm-12">
                <h3>Past Conversations</h3>
                @if (myReviews.Where(o => o.status == "Closed").Count() == 0)
                {
                    <div class="alert alert-warning">
                        No past reviews found.<br/>
                    </div>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="35%">Review Period</th>
                                <th width="20%">Date Completed</th>
                                <th>Reviewer</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in myReviews)
                            {
                                if (item.status == "Closed")
                                {
                                    string reviewPeriod = String.Format("{0} - {1}",
                                        item.periodStart.ToString("MM/dd/yyyy"),
                                        item.periodEnd.ToString("MM/dd/yyyy"));
                                    <tr>
                                        <td>
                                            <a asp-area="" asp-controller="Reviews" asp-action="Review" asp-route-id="@item.reviewID" asp-route-emp="@item.employeeID">@reviewPeriod</a>
                                        </td>
                                        <td>@item.statusDate.ToString("MMM dd, yyyy")</td>
                                        <td>@item.supervisorName</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <h2>You Need To Sign In</h2>
        </div>
    </div>
}

<script>
    function doit(which) {
                        if (which == 0) {
                            document.getElementById("reviews").style.display = 'none';
                            document.getElementById("employees").style.display = 'block';
                        }
                        else {
                            document.getElementById("employees").style.display = 'none';
                            document.getElementById("reviews").style.display = 'block';
                        }
                    }
</script>