@model QuarterlyReview.Models.DisplayReview

@{
    ViewData["Title"] = "Edit";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}




<h2>Edit</h2>

<form asp-action="Review">
    <div class="form-horizontal">
        <h4>Reviews</h4>
        <hr />
        <p>Review (id @Model.reviewID) of @Model.employeeName by @Model.reviewerName</p>

        <div class="form-group">
            <label for="startDate" class="col-md-2 control-label">From:</label>
            <div class="col-md-10">
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" name="startDate" class="form-control" value="@Model.periodStart.ToString("MM-dd-yyyy")" />
                    <div class="input-group-addon" glyphicon glyphicon-th>
                    </div>
                </div>
            </div>
            <label for="endDate" class="col-md-2 control-label">To:</label>
            <div class="col-md-10">
                <div class=" input-group date" data-provide="datepicker">
                    <input type="text" name="endDate" class="form-control" value="@Model.periodEnd.ToString("MM-dd-yyyy")" />
                    <div class="input-group-addon" glyphicon glyphicon-th>
                    </div>
                </div>
            </div>

        </div>

        <hr />
        @if (Model.questions.Count() > 0)
        {
            @foreach (var item in Model.questions)
            {
                @Html.Raw(item.question)
                <textarea name="qanswer-@item.qID" rows="4" cols="200" spellcheck="true">
                    @Html.Raw((item.answer == null) ? "" : item.answer)
                </textarea>
            }
            <br />
        }
        
        <h3>Employee Response</h3>
        <textarea name=" response-@Model.response" rows="4" cols="200" spellcheck="true">
            @Html.Raw((Model.response == null)? "" : Model.response)
        </textarea>
        <br/>

        @Html.Hidden("review-id", Model.reviewID)
        @Html.Hidden("review-role", ViewData["Role"])
        @Html.Hidden("review-status", ViewData["ReviewStatus"])
        <br />
        @if ((string)ViewData["Role"] == "Supervisor")
        {
            if ((string)ViewData["ReviewStatus"] == "Open")
            {
                <div class="form-group">
                    <p><i>Please discuss this review with your employee before submitting for their acknowledgment.</i></p>
                    <label class="radio-inline"><input type="radio" value="saveonly" checked name="workflow" />Save only</label>
                    <label class="radio-inline"><input type="radio" value="sendack" name="workflow" />Submit for employee acknowledgment</label>
                </div>
            }
            else if ((string)ViewData["ReviewStatus"] == "Acknowledged")
            {
                <div class="form-group">
                    <label class="radio-inline"><input type="radio" value="saveonly" checked name="workflow" />Save only</label>
                    <label class="radio-inline"><input type="radio" value="reopen" name="workflow" />Re-open</label>
                    <label class="radio-inline"><input type="radio" value="close" name="workflow" />Submit to permanent record</label>
                </div>
            }
        }
        else if ((string)ViewData["Role"] == "Employee")
        {
            if ((string)ViewData["ReviewStatus"] == "Ready")
            {
                <div class="form-group">
                    <p><i>By acknowledging, you affirm that you have read this review and discussed it with your supervisor.</i></p>
                    <label class="radio-inline"><input type="radio" value="saveonly" checked name="workflow" />Save only</label>
                    <label class="radio-inline"><input type="radio" value="acknowledge" name="workflow" />Acknowledge</label>
                    <label class="radio-inline"><input type="radio" value="return" name="workflow" />Return to supervisor for revision</label>
                </div>
            }

        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    </div>

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
