@model QuarterlyReview.Models.DisplayReview

@{
    ViewData["Title"] = "Edit";
    Boolean answersEditable = false;
    Boolean responseEditable = false;
    string role = (string)ViewData["Role"];
    if (Model.status != "Closed")
    {
        if (role == "Supervisor")
        {
            if (Model.status == "Open")
            {
                answersEditable = true;
            }
        }
        else if (role == "Employee")
        {
            if (Model.status == "Ready")
            {
                responseEditable = true;
            }
        }
    }
    if ((Boolean) ViewData["printable"])
    {
        answersEditable = false;
        responseEditable = false;
    }
}
<div class="row">
    <div class="col-md-10">
        <h2>Review of @Model.employeeName by @Model.reviewerName</h2>
    </div>
    <div class="col-md-2">
        <a style="float:right;" asp-area="" asp-controller="Reviews" asp-action="Review" asp-route-emp="@Model.employeeID" asp-route-printable="Y" asp-route-id="@Model.reviewID">Printable Version</a>
    </div>
</div>
<form asp-action="Review">
    <div class="row form-horizontal">
        <div class="col-sm-12">
            <fieldset class="reviewQuestionFieldset">
                <legend>Review period</legend>
                <div class="form-group">
                    <label for="startDate" class="col-xs-2 control-label">From:</label>
                    <div class="col-xs-4">
                        <div class="input-group date" data-provide="datepicker">
                            <input @(answersEditable?"":"disabled") type="text" name="startDate" class="form-control" value="@Model.periodStart.ToString("MM-dd-yyyy")" />
                            <div class="input-group-addon" style=@(answersEditable?"":"display:none;")>
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                    </div>
                    <label for="endDate" class="col-xs-2 control-label">To:</label>
                    <div class="col-xs-4">
                        <div class=" input-group date" data-provide="datepicker">
                            <input @(answersEditable?"":"disabled")  type="text" name="endDate" class="form-control" value="@Model.periodEnd.ToString("MM-dd-yyyy")" />
                            <div class="input-group-addon" style=@(answersEditable?"":"display:none;")>
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            @if (Model.questions.Count() > 0)
            {
                @foreach (var item in Model.questions)
                {
                    <fieldset class="reviewQuestionFieldset">
                        @Html.Raw(item.question)
                        @if (item.qType == "Text")
                        {
                            @if (answersEditable)
                            {
                                <textarea name="qanswer-@item.qID" rows="4" cols="200" spellcheck="true">
                                    @Html.Raw((item.answer == null) ? "" : item.answer)
                                </textarea>
                            }
                            else
                            {
                                <div style="border: 1px solid #ccc; padding: 10px; background-color: #eee;">
                                    @Html.Raw((item.answer == null) ? "" : item.answer)
                                </div>
                            }
                            @if (answersEditable && item.required)
                            {
                                <p style="margin-top: 5px; color: orange;"><i>This question must be answered before submitting for employee acknowledgment.</i></p>
                            }
                        }
                        else if (item.qType == "Y/N")
                        {
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="btn-group">
                                        <label class="radio-inline"><input id="Y-@item.qID" type="radio" value="Y" name="ynanswer-@item.qID" />Yes</label>
                                        <label class="radio-inline"><input id="N-@item.qID" type="radio" value="N" name="ynanswer-@item.qID" />No</label>
                                        <span>&nbsp;&nbsp;</span>
                                        <a style="position:relative; top:5px;"onclick="clearAnswer(@item.qID)">Clear</a>
                                    </div>
                                    @if (answersEditable && item.required)
                                    {
                                        <p style="margin-top: 5px; color: orange;"><i>This question must be answered before submitting for employee acknowledgment.</i></p>
                                    }

                                </div>
                            </div>
                        }
                    </fieldset>
                }
            }
        
            <fieldset class="reviewQuestionFieldset">
                <legend>Employee Comments</legend>
                @if (responseEditable)
                {
                    <textarea name="response" rows="4" cols="200" spellcheck="true">
                        @Html.Raw((Model.response == null) ? "" : Model.response)
                    </textarea>
                }
                else
                {
                    <div style="border: 1px solid #ccc; padding: 10px; background-color: #eee;">
                        @Html.Raw((Model.response == null) ? "" : Model.response)
                    </div>        }
            </fieldset>

            @Html.Hidden("review-id", Model.reviewID)
            @Html.Hidden("review-role", ViewData["Role"])
            @Html.Hidden("review-status", ViewData["ReviewStatus"])

            @if ((string)ViewData["ReviewStatus"] != "Closed" && !((Boolean)ViewData["printable"]))
            {
                <fieldset class="reviewQuestionFieldset">
                    <legend>Action</legend>
                    @if ((string)ViewData["Role"] == "Supervisor")
                    {
                        if ((string)ViewData["ReviewStatus"] == "Open")
                        {
                            <p><i>Please discuss this review with your employee before submitting for their acknowledgment.</i></p>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="btn-group">
                                        <label class="radio-inline"><input type="radio" value="saveonly" checked name="workflow" />Save only</label>
                                        <label class="radio-inline"><input type="radio" value="sendack" name="workflow" />Submit for employee acknowledgment</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="btn-group">
                                        <!-- <input type="submit" value="Save" class="btn btn-primary" /> -->
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        }
                        else if ((string)ViewData["ReviewStatus"] == "Acknowledged")
                        {
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="btn-group">
                                        <label class="radio-inline"><input type="radio" value="saveonly" checked name="workflow" />Save only</label>
                                        <label class="radio-inline"><input type="radio" value="reopen" name="workflow" />Re-open</label>
                                        <label class="radio-inline"><input type="radio" value="close" name="workflow" />Submit to HR record</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="btn-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        } else if ((string)ViewData["ReviewStatus"] == "Ready")
                        {
                            <div class="alert alert-info">
                                You must wait for your employee to respond before further actions can be taken.
                            </div>

                        }
                    }
                    else if ((string)ViewData["Role"] == "Employee")
                    {
                        if ((string)ViewData["ReviewStatus"] == "Ready")
                        {
                            <p><i>By acknowledging, you affirm that you have read this review and discussed it with your supervisor.</i></p>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="btn-group">
                                        <label class="radio-inline"><input type="radio" value="saveonly" checked name="workflow" />Save only</label>
                                        <label class="radio-inline"><input type="radio" value="acknowledge" name="workflow" />Acknowledge</label>
                                        <label class="radio-inline"><input type="radio" value="return" name="workflow" />Further discussion requested</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="btn-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        } else if ((string)ViewData["ReviewStatus"] == "Open")
                        {
                            <div class="alert alert-info">
                                Your supervisor has not yet released the review for your response.
                            </div>
                        } else if ((string)ViewData["ReviewStatus"] == "Closed")
                        {
                            <div class="alert alert-info">
                                This review has been closed.
                            </div>

                        }
                    }
                </fieldset>
            }
        </div>

        </div>


</form>

@if (role == "Supervisor")
{
    <div>
        <a asp-action="Index" asp-route-emp="@Model.employeeID">Back to @Model.employeeName&apos;s Reviews</a>
    </div>
    <div>
        <a asp-action="Index">Back to all Employee Reviews</a>
    </div>
} else
{
    <div>
        <a asp-action="Index">Back to My Reviews</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function clearAnswer(id) {
        document.getElementById("Y-" + id).checked = false;
        document.getElementById("N-" + id).checked = false;
    }
</script>