@model QuarterlyReview.Models.DisplayReview

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Reviews</h4>
        <hr />
        <p>Review (id @Model.reviewID) of @Model.employeeName by @Model.reviewerName</p>
        <div class="form-group">
            <label for="startDate" class="col-md-2 control-label">From:</label>
            <div class="col-md-10">
                <input type="date" name="startDate" class="form-control" value="@Model.periodStart.ToString("yyyy-MM-dd")"/>
            </div>
            <label for="endDate" class="col-md-2 control-label">To:</label>
            <div class="col-md-10">
                <input type="date" name="endDate" class="form-control" value="@Model.periodEnd.ToString("yyyy-MM-dd")" />
            </div>
        </div>
        <hr/>
        @if (Model.questions.Count() > 0)
        {
            @foreach (var item in Model.questions)
            {
                @Html.Raw(item.question)
                <textarea name="qanswer-@item.qID" rows="4" cols="200">
                    @Html.Raw((item.answer == null) ? "" : item.answer)
                </textarea>
            }
            <br />
        }

        @Html.Hidden("review-id", Model.reviewID)
        <br/>
        <div class="row">
            <div class="col-md-4">
                <table class="table">
                    <tr>
                        <td><b>Role:</b></td>
                        <td>@ViewData["Role"]</td>
                    </tr>
                    <tr>
                        <td><b>Review Status</b></td>
                        <td>@ViewData["ReviewStatus"]</td>
                    </tr>
                </table>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
